<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Add a Product for <%= farm.name %></h1>
    <form action="/farms/<%= farm._id %>/products" method="POST">
        <label for="name">Product name:</label>
        <input type="text" name="name" id="name" placeholder="product name">
        <label for="price">Price (per unit):</label>
        <input type="number" name="price" placeholder="price" id="price">
        <label for="category">Category:</label>
        <select name="category" id="category">
            <% for(let c of categories){ %>
            <option value="<%= c %>"><%= c %></option>
            <% } %>
            <!-- <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option> -->
        </select>
        <button>Submit</button>
    </form>
    <a href="/farms/<%= farm._id %>">Back to Farm</a>
</body>
</html>